#####################################################################
#   SCANNER
#####################################################################
[mcu cartographer]
#canbus_uuid: 12095daa0ec7
serial: /dev/serial/by-id/usb-Cartographer_stm32f042x6_1F0023001943303854303720-if00
restart_method: command # Not needed for probes using CAN. 

[cartographer]
mcu: cartographer            
#   Offsets are measured from the centre of your coil, to the tip of your nozzle 
#   on a level axis. It is vital that this is accurate. 
travel_speed: 50
macro_prefix: CARTO_TOUCH_HOME
x_offset: 0                          
#    adjust for your cartographers offset from nozzle to middle of coil
y_offset: 21.1 
#   Backlash compensation distance for removing Z backlash before measuring
#   the sensor response.
#    alternate name to call commands. CARTO_TOUCH etc      
verbose: no
#    Number of passes to make during mesh scan.


[bed_mesh]
zero_reference_position: 125, 125 # The centre of your bed. 
speed: 300
horizontal_move_z: 3
#mesh_min: 40, 40 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
#mesh_max: 220, 220 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
mesh_min: 40, 40 # The first probed coordinate, nearest to the origin. This coordinate is relative to the probe's location.
mesh_max: 220, 220 # The probed coordinate farthest from the origin. This is not necessarily the last point probed, as the probing process occurs in a zig-zag fashion. As with mesh_min, this coordinate is relative to the probe's location.
#probe_count: 20, 20
probe_count: 11, 11
adaptive_margin: 10
mesh_pps: 0,0 # Disable interpolation - mesh is probably dense enough
algorithm: bicubic

[cartographer scan]
probe_speed: 5
#   Speed (in mm/s) of the Z axis when probing. The default is 5mm/s.
mesh_runs: 1
#   Number of runs when doing a scan mesh.
#   Consecutive runs will trace back the way it came from.
#   The default is 1 run.
mesh_direction: x
#   Axis of which to do the most moves along - either 'x' or 'y'.
#   The default is the x-axis
mesh_height: 3
#   The height (in mm) of the head, when doing a mesh run.
#   The default is 3 mm.
mesh_path: snake
#   The path to use when calibrating a scan mesh - either 'snake',
#   'alternating_snake', 'spiral' or 'random'.
#   The default is snake.

[cartographer touch]
samples: 3
#   The number of samples to use when doing a touch.
#   The default is 5.
max_samples: 10
#   The maximum number of samples to do before giving up.
#   The default is samples * 2.
sample_range: 0.01
retract_distance: 5
UNSAFE_max_touch_temperature: 180
#   The maximum allowed nozzle temperature to use when touching the plate.
#   This is set to 150C to avoid damaging your plate.
#   Change this AT YOUR OWN RISK.
#   The default is 150C.
#EXPERIMENTAL_home_random_radius: 0

[cartographer coil]
name: cartographer_coil
#   The name of the coil temperature sensor.
#   The default is 'cartographer_coil'.
min_temp: 0
#   The minimum temperature of the coil, below this will trigger a warning.
#   The default is 0.
max_temp: 105
#   The maximum temperature of the coil, above this will trigger a warning.
#   The default is 105.

[temperature_sensor Cartographer_MCU]
sensor_type:   temperature_mcu
sensor_mcu: cartographer           
min_temp:                    0
max_temp:                  105


[axis_twist_compensation]
speed: 50
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
calibrate_start_x: 125
#   Defines the minimum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the starting
#   calibration position.
calibrate_end_x: 210
#   Defines the maximum X coordinate of the calibration
#   This should be the X coordinate that positions the nozzle at the ending
#   calibration position.
calibrate_y: 125
#   Defines the Y coordinate of the calibration
#   This should be the Y coordinate that positions the nozzle during the
#   calibration process. This parameter is recommended to
#   be near the center of the bed

[safe_z_home]
home_xy_position: 125, 125 # Choose an X,Y position that is in the center of your bed. For a 300x300 machine that will be 150, 150. Use the same principle to calculate your bed center.
z_hop: 5
z_hop_speed: 25
speed: 200

[adxl345]
# Select 1 of the cs_pin below depending on the probe you have. 
# Having the wrong one selected will cause an Endless Bootloop
# Cartographer V4 has int2 connected to the probes PA1 pin
cs_pin: cartographer:PA3 # For Cartographer V3
#cs_pin: cartographer:PA0 # For Cartographer V4
spi_bus: spi1

[resonance_tester]
accel_chip: adxl345
probe_points:
    125, 125, 20 # Fill out the blank with x and y coordinates where you want to run the resonance test.


# Note you may need to add the following to your printer.cfg somewhere (without the comments of course) for the Kinematic position stuff below to work.
[force_move]
enable_force_move: True

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: BASE_QUAD_GANTRY_LEVEL
gcode:
    # Pass 1: Initial Coarse Leveling
    BASE_QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=10 RETRY_TOLERANCE=1
    # Pass 2: Fine Leveling and Accuracy
    BASE_QUAD_GANTRY_LEVEL HORIZONTAL_MOVE_Z=2

[gcode_macro UPDATE_IDLE_TIMEOUT]
description: Send `UPDATE_IDLE_TIMEOUT [H=<value>] [M=<value>] [S=<value>] ` to set the Hours, Minutes, and Seconds for Idle_Timout. Passing no paramaters will return it to the config default value.
gcode:
	{% set Hours   = params.H|default(0)|int %}
    {% set Minutes = params.M|default(0)|int %}
    {% set Seconds = params.S|default(0)|int %}
    {% set DEFAULT = printer.configfile.settings.idle_timeout.timeout|int %}

	{% set TIME = ((Hours*3600) + (Minutes*60) + (Seconds))|int %}
	
	{% if TIME == 0 %} # No time was entered
        {% set TIME = DEFAULT %}
	{% endif %}
	set_idle_timeout timeout={TIME|int}




