#####################################################################
#   print_start macro
#####################################################################
#SuperSlicer:
#M104 S0 ; Stops SuperSlicer from sending temp waits separately
#M140 S0
#print_start EXTRUDER=[first_layer_temperature] BED=[first_layer_bed_temperature] CHAMBER=[chamber_temperature]

#PrusaSlicer:
#M104 S0 ; Stops PrusaSlicer from sending temp waits separately
#M140 S0
#print_start EXTRUDER=[first_layer_temperature[initial_extruder]] BED=[first_layer_bed_temperature]

#OrcaSlicer:
#M104 S0 ; Stops OrcaSlicer from sending temp waits separately
#M140 S0
#print_start EXTRUDER=[first_layer_temperature] BED=[first_layer_bed_temperature] CHAMBER=[chamber_temperature]

## *** THINGS TO UNCOMMENT: ***
## Bed mesh (2 lines at 2 locations)
## Z_TILT_ADJUST if your printer is a Trident
## Quad gantry level if your printer is a V2
## Nevermore - if you have one



[gcode_macro PRINT_START]
gcode:
  # --- Parametry ze sliceru ---
  #{% set target_bed = params.BED|int %}
  #{% set target_extruder = params.EXTRUDER|int %}
  #{% set target_chamber = params.CHAMBER|default("40")|int %}
  #{% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  #{% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  #{% set REFERENCED_TOOLS = params.REFERENCED_TOOLS|default("")|string %}
  #{% set INITIAL_TOOL = params.INITIAL_TOOL|default(0)|int %}
  {% set target_bed = params.BED|default(0)|int %}
  {% set target_extruder = params.EXTRUDER|default(params.HOTEND)|int %}
  {% set target_chamber = params.CHAMBER|default(40)|int %}
  {% set x_wait = printer.toolhead.axis_maximum.x|float / 2 %}
  {% set y_wait = printer.toolhead.axis_maximum.y|float / 2 %}
  {% set REFERENCED_TOOLS = params.REFERENCED_TOOLS|default("")|string %}
  {% set INITIAL_TOOL = params.INITIAL_TOOL|default(0)|int %}


  # --- Happy Hare preprocessing logic ---
  {% if REFERENCED_TOOLS == "!referenced_tools!" %}
      RESPOND MSG="Happy Hare gcode pre-processor is disabled"
      {% set REFERENCED_TOOLS = INITIAL_TOOL %}
  {% elif REFERENCED_TOOLS == "" %}
      RESPOND MSG="Happy Hare single color print"
      {% set REFERENCED_TOOLS = INITIAL_TOOL %}
  {% endif %}

  # --- Reset offsetů a homing ---
  SET_GCODE_OFFSET Z=0
  STATUS_HOMING
  #SET_FAN_SPEED FAN=fan2 SPEED=1.0
  G28
  G90

  MMU_HOME

  # --- Zahřátí trysky na 180 °C pro čištění ---
  M104 S180
  M109 S180

  # --- Zahřátí podložky ---
  BED_MESH_CLEAR
  {% if target_bed > 90 %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"
    STATUS_HEATING
    M106 S255
    G1 X{x_wait} Y{y_wait} Z15 F9000
    M190 S{target_bed}
    SET_DISPLAY_TEXT MSG="Heatsoak: {target_chamber}c"
    TEMPERATURE_WAIT SENSOR="temperature_sensor chamber_BOX" MINIMUM={target_chamber}
    SET_LED LED="BOX" RED=1.0 GREEN=0.4 BLUE=0.0 WHITE=0.0 TRANSMIT=1
  {% else %}
    SET_DISPLAY_TEXT MSG="Bed: {target_bed}c"
    STATUS_HEATING
    G1 X{x_wait} Y{y_wait} Z15 F9000
    M190 S{target_bed}
    SET_DISPLAY_TEXT MSG="Soak for 5min"
    G4 P100
  #  G4 P300000
  {% endif %}
  SET_LED LED="BOX" RED=1.0 GREEN=1.0 BLUE=1.0 WHITE=1.0 SYNC=0 TRANSMIT=1

  # --- Čištění trysky ---
  CLEAN_NOZZLE

  # --- Vyrovnání portálu / Z-tilt / QGL ---
  SET_DISPLAY_TEXT MSG="QGL"
  STATUS_LEVELING
  QUAD_GANTRY_LEVEL
  G28 Z
  M109 S180

  # --- Čištění trysky ---
  CLEAN_NOZZLE

  #CARTOGRAPHER_TOUCH_HOME
   _CG28
   CARTOGRAPHER_TOUCH_HOME

  # --- Adaptivní bed mesh ---
  SET_DISPLAY_TEXT MSG="Bed Mesh"
  STATUS_MESHING
  BED_MESH_CALIBRATE

  #BED_MESH_CALIBRATE ADAPTIVE=1

  # --- Čištění trysky ---
  #CLEAN_NOZZLE
  
  #CARTOGRAPHER_TOUCH_HOME
  # _CG28
  # CARTOGRAPHER_TOUCH_HOME

  MMU_CHECK_GATE TOOLS={REFERENCED_TOOLS}

  # --- Finální zahřátí trysky na tiskovou teplotu ---
  SET_DISPLAY_TEXT MSG="Hotend: {target_extruder}c"
  STATUS_HEATING
  M107
  M109 S{target_extruder}

  # --- MMU / výběr nástroje ---
  SET_DISPLAY_TEXT MSG="TradRack"
  MMU_CHANGE_TOOL STANDALONE=1 TOOL={INITIAL_TOOL}

  # --- Purge line / příprava na tisk ---
  SET_DISPLAY_TEXT MSG="Printer Start"
  STATUS_PRINTING
  
  LINE_PURGE


[gcode_macro _CQGL]
gcode:
    {% if printer.quad_gantry_level.applied == False %}
        {% if "xyz" not in printer.toolhead.homed_axes %}
            G28 ; home if not already homed
        {% endif %}
        QUAD_GANTRY_LEVEL
        G28 Z
    {% endif %}

[gcode_macro _CG28]
gcode:
    {% if "xyz" not in printer.toolhead.homed_axes %}
        G28
    {% endif %}



[gcode_macro G32]
gcode:
    # Uložíme aktuální stav tiskárny (pozici trysky, stav extruderu a další hodnoty)
    SAVE_GCODE_STATE NAME=STATE_G32
    # Přepneme na absolutní pozicování/vzdálenosti
    G90
    # zde je podmínka - pokud není tiskárna "vyhoumovaná" provede se příkaz home - G28
    {% if printer.toolhead.homed_axes != "xyz" %}
        G28
    {% endif %}
    # Tento řádek spustí levlování Gantry pro Voron 2.4
    QUAD_GANTRY_LEVEL
    # Následuje opět home, ale nyní jen pro osu Z
    G28 Z
    # Obnovíme hodnoty původního stavu tiskárny
    RESTORE_GCODE_STATE NAME=STATE_G32


[gcode_macro PRINT_END]
gcode:
    # Uložíme aktuální stav tiskárny (pozici trysky, stav extruderu a další hodnoty)
    {% set unload = params.UNLOAD_AT_END|default(0)|int %}
    #SET_FILAMENT_SENSOR SENSOR=encoder_sensor ENABLE=0
    SAVE_GCODE_STATE NAME=STATE_PRINT_END
    # Vypneme nahřívání hotendu a bedu
    TURN_OFF_HEATERS

    #SET_FAN_SPEED FAN=fan2 SPEED=1.0

    
    # Přepneme na relativní vzdálenosti, a zvedneme trysku o 10mm nahoru
    # POZOR - pokud tisknete vysoké tisky na maximální výšku tiskárny, tento gcode vám může dělat potíže
    # Následně přepneme zpět na absolutní pozicování/vzdálenosti pomocí G90
    G91
    G1 Z20 F3000
    G90
    # Přesuneme toolhead doprava a dopředu
    # Zde záleží, kam chcete umístit toolhead/tiskovou hlavu po skončení tisku. Není dobré ji nechat viset na tiskem
    # nastavte podle vaší tiskárny a podle toho kde chcete tiskouvou hlavu mít.
    # v tomto případě jde tisková hlava dopředu (Y20) a doprava (X300)
    G1 Y230
    G1 X125
    
    # Počkáme na vyčištění bufferu
    M400
    # Vynulujeme vzdálenosti extruderu
    #G92 E0
    # Zatáhneme filament 10mm dovnitř hotendu
    # tento řádek nám pak umožní vytáhnout filament z tiskárny i za studena a je kompenzován 
    # v PRINT_START (proto tlačíme 30mm filamentu před tiskem)
    #G1 E-10.0 F3000
    #{% if unload|int == 1%} 
    MMU__EJECT
   # SET_PIN PIN=nevermore VALUE=1
    #{% endif %}
    #M107
    #clean_nozzle
    # Vypneme ventilátor
    M106 S0
    # Vypneme motory
    M84
    #PROBE_EDDY_NG_SET_TAP_OFFSET VALUE=0
    # Vymažeme naměřený bed mesh
    BED_MESH_CLEAR
    
    ## --- ZAPNUTÍ BEDFANU --- 
    #SET_FAN_SPEED FAN=BedFans SPEED=1.0
    ## --- ČEKÁNÍ NA OCHLAZENÍ BEDU NA 40°C --- 
    #TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM=0 MAXIMUM=60
    ## --- VYPNUTÍ BEDFANU --- 
    #SET_FAN_SPEED FAN=BedFans SPEED=0
    
    # Obnovíme hodnoty původního stavu tiskárny
    RESTORE_GCODE_STATE NAME=STATE_PRINT_END
    #SDCARD_RESET_FILE


[gcode_macro LOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   # was 280 w/bowden

   G1 E30 F1800                  ; quickly load filament to down bowden
   G1 E10 F300                    ; slower extrusion for hotend path
   G1 E5 F150                    ; prime nozzle with filament
   M82                            ; set extruder to absolute

[gcode_macro UNLOAD_FILAMENT]
gcode:
   M83                            ; set extruder to relative
   G1 E3 F200                    ; extrude a little to soften tip
   G1 E-50 F1800                 ; retract filament completely
   M82

[gcode_macro QUAD_GANTRY_LEVEL]
rename_existing: QUAD_GANTRY_LEVEL_ORIGINIAL
gcode:
    QUERY_PROBE
    M401
    QUAD_GANTRY_LEVEL_ORIGINIAL
    M402


#####################################################################
#	Maint./Tuning
#####################################################################



[gcode_macro M109]
rename_existing: M109.0
gcode:
    #Parameters
    {% set s = params.S|float %}
    
    M104 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}  ; Set hotend temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=extruder MINIMUM={s} MAXIMUM={s+2}   ; Wait for hotend temp (within 2 degrees)
    {% endif %}

[gcode_macro M190]
rename_existing: M190.0
gcode:
    #Parameters
    {% set s = params.S|float %}

    M140 {% for p in params %}{'%s%s' % (p, params[p])}{% endfor %}   ; Set bed temp
    {% if s != 0 %}
        TEMPERATURE_WAIT SENSOR=heater_bed MINIMUM={s} MAXIMUM={s+1}  ; Wait for bed temp (within 1 degree)
    {% endif %}


[gcode_macro M900]
gcode:
  {% if 'K' in params %}
    {% if 'E' in params %}
      SET_PRESSURE_ADVANCE EXTRUDER={params.E} ADVANCE={params.K}
    {% else %}
      SET_PRESSURE_ADVANCE ADVANCE={params.K}
    {% endif %}
  {% endif %}


[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state


[gcode_macro PID_EXTRUDER]
description: PID Tune for the Extruder
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(260)|float %} 
  PID_CALIBRATE HEATER=extruder TARGET={TARGET_TEMP}
  TURN_OFF_HEATERS
  SAVE_CONFIG
#--------------------------------------------------------------------
[gcode_macro PID_BED]
description: PID Tune for the Bed
gcode:
  {% set TARGET_TEMP = params.TARGET_TEMP|default(70)|float %} 
  PID_CALIBRATE HEATER=heater_bed TARGET={TARGET_TEMP}
  TURN_OFF_HEATERS
  SAVE_CONFIG

[gcode_macro PAUSE]
description: Pause the actual running print
rename_existing: PAUSE_BASE
gcode:
  PAUSE_BASE
  _TOOLHEAD_PARK_PAUSE_CANCEL

[gcode_macro RESUME]
description: Resume the actual running print
rename_existing: RESUME_BASE
gcode:
  ##### read extrude from  _TOOLHEAD_PARK_PAUSE_CANCEL  macro #####

  {% set extrude = printer['gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL'].extrude %}
  #### get VELOCITY parameter if specified ####
  {% if 'VELOCITY' in params|upper %}
    {% set get_params = ('VELOCITY=' + params.VELOCITY)  %}
  {%else %}
    {% set get_params = "" %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}

  RESUME_BASE {get_params}

[gcode_macro _TOOLHEAD_PARK_PAUSE_CANCEL]
description: Helper: park toolhead used in PAUSE and CANCEL_PRINT
variable_extrude: 1.0
gcode:
  ##### set park position for x and y #####
  # default is your max position from your printer.cfg

  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  {% set z_park_delta = 2.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - z_park_delta) %}
    {% set z_safe = z_park_delta %}
  {% else %}
    {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  {% if printer.extruder.can_extrude|lower == 'true' %}
    M83
    G1 E-{extrude} F2100
    {% if printer.gcode_move.absolute_extrude |lower == 'true' %} M82 {% endif %}
  {% else %}
    {action_respond_info("Extruder not hot enough")}
  {% endif %}
  {% if "xyz" in printer.toolhead.homed_axes %}
    G91
    G1 Z{z_safe} F900
    G90
    G1 X{x_park} Y{y_park} F6000
    {% if printer.gcode_move.absolute_coordinates|lower == 'false' %} G91 {% endif %}
  {% else %}
    {action_respond_info("Printer not homed")}
  {% endif %}


[gcode_macro CANCEL_PRINT]
description: Cancel the actual running print
rename_existing: CANCEL_PRINT_BASE
variable_park: True
gcode:
  ## Move head and retract only if not already in the pause state and park set to true

  {% if printer.pause_resume.is_paused|lower == 'false' and park|lower == 'true'%}
    _TOOLHEAD_PARK_PAUSE_CANCEL
  {% endif %}

  TURN_OFF_HEATERS
  CANCEL_PRINT_BASE

