# This file contains common pin mappings for the BIGTREETECH MMB Cubic
# Canbus board. To use this config, the firmware should be compiled for the
# RP2040 with "USB" or "CAN bus (on gpio4/gpio5)".
# The "EBB Can" micro-controller will be used to control the components on the nozzle.

# See docs/Config_Reference.md for a description of parameters.

[mcu Cubic]
#serial: /dev/serial/by-id/usb-Klipper_Klipper_firmware_12345-if00
canbus_uuid: 2823d1b6d23e

[temperature_sensor Cubic]
sensor_type: temperature_mcu
sensor_mcu: Cubic

#[lis2dw]
#cs_pin: Cubic:gpio21
#spi_bus: spi0d
#axes_map: x,y,z

#[extruder]
#heater_pin: Cubic:gpio11
#sensor_pin: Cubic:gpio26 #TH0

#[heater_bed]
#heater_pin: Cubic:gpio10
#sensor_pin: Cubic:gpio28 #TH2
#sensor_pin: Cubic:gpio27 #TH1

#[fan_generic fan0] #FAN0
#pin: Cubic: gpio8
#cycle_time: 0.01
#hardware_pwm: True

[fan_generic fan1] #FAN1
pin: Cubic: gpio7
cycle_time: 0.01
hardware_pwm: True

[fan_generic fan2] #FAN2
pin: Cubic: gpio6
cycle_time: 0.01
hardware_pwm: True

#[neopixel cubic_rgb]
#pin: Cubic:gpio9

#[bltouch]
#sensor_pin: ^Cubic:gpio12
#control_pin: Cubic:gpio13   # servo pro Bowden Filament Cutter    


[servo cutter_servo_bowden]
pin: Cubic:gpio13  # nebo jiný pin dle použitého MCU
maximum_servo_angle: 180	# Set this to 60 for a 60° Servo
minimum_pulse_width: 0.0005	# Adapt these for your servo
maximum_pulse_width: 0.0025	# Adapt these for your servo


[gcode_macro CUTTER_OPEN]
gcode:
    SET_SERVO SERVO=cutter_servo_bowden ANGLE=40

[gcode_macro CUTTER_CLOSE]
gcode:
    SET_SERVO SERVO=cutter_servo_bowden ANGLE=0

[gcode_macro ALL_CUTTER]
gcode:
    SET_LED LED=BOX RED=1.0 GREEN=0.0 BLUE=0.0 WHITE=0.0
    CUTTER_OPEN
    G4 P500  ; počkej 500 ms
    CUTTER_CLOSE
    SET_LED LED=BOX RED=0.1 GREEN=0.5 BLUE=0.0 WHITE=0.0


[gcode_macro ALL_CUTTER1]
gcode:
    M117 Cutting in progress...
    SET_LED LED=BOX RED=1.0 GREEN=0.0 BLUE=0.0 WHITE=0.0
    CUTTER_OPEN
    G4 P500
    CUTTER_CLOSE
    SET_LED LED=BOX RED=0.1 GREEN=0.5 BLUE=0.0 WHITE=0.0
    M117 Cutting completed
    G4 P2000
    M117






