#####################################################################################

###              z_thermal_adjust

#####################################################################################


[z_thermal_adjust]
temp_coeff: 0.0006
#temp_coeff: -0.0026
#temp_coeff: 0.0139
#   The temperature coefficient of expansion, in mm/degC. For example, a
#   temp_coeff of 0.01 mm/degC will move the Z axis downwards by 0.01 mm for
#   every degree Celsius that the temperature sensor increases. Defaults to
#   0.0 mm/degC, which applies no adjustment.

#Frame sensor - right rear extrusion
sensor_pin: PF4
sensor_type: Generic 3950
min_temp: 10
max_temp: 70